* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todos {
  min-width: 300px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
}

.todo__item.completed {
  text-decoration: line-through;
}

.todo__item span {
  margin-left: 10px;
}

form input {
  width: 75%;
}

form button {
  width: 25%;
}
